version: "3.9"

services:
  # --------------------
  # PostgreSQL
  # --------------------
  db:
    image: postgres:15
    container_name: app_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      retries: 10
      timeout: 2s

  # --------------------
  # Redis
  # --------------------
  redis:
    image: redis:7
    container_name: app_redis

  # --------------------
  # FastAPI Backend
  # --------------------
  backend:
    build: ./backend
    container_name: app_backend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/postgres
      REDIS_HOST: redis
    expose:
      - "8000"

  # --------------------
  # NGINX (Frontend + Reverse Proxy)
  # --------------------
  nginx:
    image: nginx:alpine
    container_name: app_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /dev/null:/etc/nginx/conf.d/default.conf
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - backend



# --------------------
# Volumes
# --------------------
volumes:
  pgdata:
